$pagePadding: 45px;

.scrollDownContainer {
  position: fixed;
  display: flex;
  align-items: center;
  column-gap: 10px;
  transition: all 0.5s;
  transform: translateX(100%);
  bottom: -100%;

  &.left {
    left: $pagePadding;
    transform: rotate(-90deg);
    transform-origin: left;

    @include Responsive(SM) {
      display: none;
    }
  }

  &.right {
    display: none;
    left: auto;
    right: $pagePadding;
    transform: rotate(90deg);
    transform-origin: right;

    @include Responsive(SM) {
      display: flex;
    }
  }

  .verticalLine {
    width: 100px;
    height: 3px;
    background-color: white;
    display: block;
  }

  &.active {
    bottom: -20px;
  }
}
