.footerContainer {
  width: 100%;
  height: 250px;
  z-index: 90;
  background: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
