.detailDescription {
  width: 100%;
  display: flex;

  @include Responsive(SM) {
    flex-direction: column;
  }
}

.titleContainer {
  display: flex;
  flex: 1;
  align-self: baseline;
  align-items: center;
  width: 100%;

  .titleNumber {
    display: flex;
    align-items: center;
    color: red;

    &::before {
      content: "";
      width: 50px;
      height: 2px;
      margin-right: 10px;
      background-color: black;
    }
  }

  .titleTxt {
    font-size: 20px;
    flex-grow: 1;
    margin-left: 40px;

    @include Responsive(SM) {
      text-align: center;
      margin: 0;
      position: absolute;
      width: 100%;
    }
  }
}

.detail {
  flex: 1.2;
  padding-right: 40px;
  padding-left: 40px;

  @include Responsive(SM) {
    margin-top: 40px;
  }
}
