.detailContainer {
  width: 100%;
  display: flex;

  @include Responsive(SM) {
    flex-direction: column;
  }
}

.titleContainer {
  display: flex;
  flex: 1;

  .titleNumber {
    display: flex;
    align-items: center;
    color: red;

    &::before {
      content: "";
      width: 50px;
      height: 2px;
      margin-right: 10px;
      background-color: black;
    }
  }

  .titleTxt {
    align-self: center;
    font-size: 20px;
    margin-left: 2em;
  }
}

.detail {
  flex: 2;
}