.headerContainer {
  display: flex;
  padding: 30px 40px;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.myName {
  font-size: 25px;
  z-index: 10;
}

.linkGroup {
  display: flex;
  column-gap: 25px;

  .brandIcon {
    height: 30px;
    cursor: pointer;
    z-index: 10;
    text-decoration: none;
    color: white;
    font-size: 25px;

    @include Responsive(SM) {
      display: none;
    }

    img {
      height: 100%;
    }

    &:hover {
      opacity: 0.6;
      transition: all 0.2s;
    }
  }

  .hamburgerLines {
    margin-left: 20px;
    display: block;
    height: 30px;
    width: 58px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 10;

    .line {
      display: block;
      height: 3px;
      width: 100%;
      border-radius: 10px;
      background: white;
    }

    .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.3s ease-in-out;

      &.active {
        transform: rotate(30deg);
      }
    }

    .line2 {
      transform-origin: 0% 100%;
      transition: transform 0.3s ease-in-out;

      &.active {
        transform: rotate(-30deg);
      }
    }
  }
}

.overlay {
  width: 100%;
  height: 0;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
  overflow: hidden;
  transition: 0.5s;

  .overlayContent {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    a {
      font-size: 100px;
      text-decoration: none;
      color: white;
      position: relative;
      font-weight: 600;

      @include Responsive(SM) {
        font-size: 80px;
        font-weight: 500;
      }

      .lineThrough {
        position: absolute;
        left: 0;
        top: 55%;
        width: 0;
        height: 7px;
        background-color: white;
        transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
      }

      &:hover {
        .lineThrough {
          width: 100%;
        }
      }
    }

    .socialGroup {
      display: none;
      column-gap: 25px;

      img {
        width: 50px;
      }

      @include Responsive(SM) {
        display: flex;
      }
    }
  }

  &.active {
    height: 100%;
  }
}
