.container {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  background-image: linear-gradient(to bottom, #072142, #061c37, #07182b, #061220, #020b16);
  overflow: hidden;
  scroll-behavior: smooth;
}
