.page-wraper {
  width: 100%;
  height: 100%;
  left: 0;
  transition: transform 1.2s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: forwards;
}

.top-0 {
  top: 0;
}

.top-100 {
  top: 100%;
}

.top-200 {
  top: 200%;
}

.top-300 {
  top: 300%;
}

.top--100 {
  top: -100%;
}

.top--200 {
  top: -200%;
}

.top--300 {
  top: -300%;
}

.title-1 {
  position: absolute;
  top: 50%;
  margin-left: 10%;
  transform: translateY(-50%);
  color: #fff;
  letter-spacing: 0.2em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 98;

  h1 {
    font-size: 7em;
  }

  p {
    line-height: 2;
    font-size: 1.2em;
  }
}

.title-2 {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translateY(-50%);
  color: #FF4D5A;
  font-size: 4.4rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-shadow: 0 10px 15px rgba(2, 11, 22, 0.2);

  h1 {
    font-size: 4.5rem;
  }
}

.title-2-img {
  position: absolute;
  width: 50%;
  height: 70%;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.underline {
  width: 50%;

  div:first-child {
    background: #FF4D5A;;
    height: 4px;
    width: 60%;
    margin-bottom: 1rem;
  }

  div:last-child {
    background: #FF4D5A;
    height: 4px;
    width: 60%;
    float: right;
  }
}

/* Fade in */
.title-text-fade-in-to-right {
  animation: fadeInToRight 0.8s ease;
  animation-delay: .2s;
  animation-fill-mode: both;
}

.underline-above-fade-in-to-right {
  animation: fadeInToRight 0.9s ease;
  animation-delay: .2s;
  animation-fill-mode: both;
}

.underline-below-fade-in-to-right {
  animation: fadeInToRight 1s ease;
  animation-delay: .2s;
  animation-fill-mode: both;
}

.sub-text-fade-in-to-right {
  animation: fadeInToRight 1.1s ease;
  animation-delay: .2s;
  animation-fill-mode: both;
}

.title-2-fade-in-to-left {
  animation: fadeInToLeft 0.8s ease;
  animation-delay: .2s;
  animation-fill-mode: both;
}

@keyframes fadeInToRight {
  from {
    transform: translateX(-250%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fadeInToLeft {
  0% {
    transform: translate(50%, -50%);
  }

  100% {
    transform: translate(0, -50%);
  }
}

/* Fade out */
.title-2-fade-out-to-right {
  animation: fadeOutToRight 0.4s ease;
  animation-fill-mode: both;
}

@keyframes fadeOutToRight {
  0% {
    transform: translate(0, -50%);
  }

  100% {
    transform: translate(50%, -50%);
    opacity: 0.1;
  }
}

/* Scale in title 2 image */
.title-2-img-scale-in {
  animation: titleImageScale 1s;
}

@keyframes titleImageScale {
  0% {
    transform: scale(0.6) translateX(10%) translateY(-40%);
  } 

  100% {
    transform: scale(1) translateX(0) translateY(-50%);
  }
}

.preload-image {
  background-color: #072142;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  animation: hidePreloadImage 1s;
  animation-fill-mode: forwards;
  animation-delay: .4s;
}
  
.column-preload-image {
  background-color: #FF4D5A;
  position: absolute;
  width: 10%;
  height: 100%;
  top: 0;
  animation: columnHidePreloadImage 1s;
  animation-fill-mode: forwards;
  animation-delay: .4s;
  animation-timing-function: cubic-bezier(0.4, 0.1, 0.3355, 1);
}

@keyframes hidePreloadImage {
  to {
    transform: translateX(100%);
  }
}
  
@keyframes columnHidePreloadImage {
  0% {
    transform: scaleX(1);
  }

  1% {
    transform: scaleX(3);
  }

  100% {
    transform: scaleX(1);
  }
}

.position-relative {
  position: relative
}

.position-absolute {
  position: absolute;
}

.height-100vh {
  height: 100vh;
}