.mainMoonContainer {
  position: fixed;
  left: 20%;
  top: 0;
  height: 100vh;
  width: 100vw;

  @include Responsive(SM) {
    left: 0;
    top: -20%;
    height: 140vh;
    width: 140vw;
    transform: translate3d(calc((100vw - 140vw) / 2), calc((100vh - 140vh) / 2), 0);
  }
}

.mainMoon {
  transform: scale(90%) translate(30%, 30px);
  transition-property: transform;
  transition-duration: 1s;
}
.mainMoonRun {
  transform: scale(100%) translate(0);
  transition-delay: 0.2s;
}
.mainMoonRunRemove {
  transition-delay: 0s;
}

.mainMoonCircle {
  fill-opacity: 0;
  transition-property: fill-opacity;
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.4, 0.99, 0.4, 0.98);
}
.mainMoonCircleRun {
  fill-opacity: 0.9;
  transition-delay: 0.2s;
}
.mainMoonCircleRunRemove {
  transition-delay: 0s;
}

.title {
  color: red;
  font-size: 6rem;
  margin: 0;
  position: fixed;
  font-weight: 700;
  top: 50%;
  right: 300px;
  transform: translateY(-50%);
  opacity: 0;

  transition-property: all;
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.4, 0.99, 0.4, 0.98);

  @include Responsive(SM) {
    top: 30%;
    left: 50%;
    right: auto;
    transform: translateX(-50%) translateY(-30%);
    font-weight: 500;
    font-size: 3rem;
  }
}
.titleRun {
  opacity: 0.9;
  transform: translateY(-50%) translateX(0);
  transition-delay: 0.2s;

  @include Responsive(SM) {
    transform: translateY(-50%) translateX(-50%);
  }
}
.titleRunRemove {
  transform: translateY(-50%) translateX(100%);
  transition-delay: 0s;
}
